<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/AdminLayout.css" asp-append-version="true" />
    <title>@ViewData["Title"] - MoviesPilgrim</title>
    <link rel="shortcut icon" href="~/icon_white_black_mini.ico" type="image/x-icon">
</head>

<body>
    <main role="main">
        <aside id="aside_main">
            <div class="logo_aside">
                <img src="/img/logo_text_white.png" width="100px">
            </div>
            <div class="info_admin">
                <iconify-icon icon="ant-design:user-outlined" class="icon_profile"></iconify-icon>
                <div class="data_admin">
                    <p>Admin</p>
                    <p style="width:114px;max-width: 114px;overflow:hidden;">Joane Maria</p>
                </div>
                <a class="link_logout" asp-area="Identity" asp-page"/Account/Logout">
                    <iconify-icon icon="ph:sign-out-bold" class="icon_sign_out"></iconify-icon>
                </a>
            </div>
            <ul class="list_menu">
                <li class="item_menu" onclick="navigate(1)">
                    <iconify-icon icon="lucide:home"></iconify-icon>
                    Dashboard
                </li>
                <li class="item_menu" onclick="navigate(2)">
                    <iconify-icon icon="icon-park-outline:movie"></iconify-icon>
                    Filmes
                </li>
                <li class="item_menu" onclick="navigate(3)">
                    <iconify-icon icon="solar:key-linear"></iconify-icon>
                    Locações
                </li>
            </ul>
        </aside>
        <header>
            <div class="img_header">
                <img src="/img/logo_text_white.png" width="100px">
            </div>
            <div class="menu_header" onclick="openSidebar()">
                <div class="line_menu"></div>
                <div class="line_menu"></div>
                <div class="line_menu"></div>
                <iconify-icon icon="mingcute:close-line" class="close_icon"></iconify-icon>
            </div>
        </header>
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="~/js/adminLayout.js" asp-append-version="true"></script>
</body>

</html>