@{
    ViewData["Title"] = "Locacoes";
    Layout = "_LayoutAdmin";
}

<link rel="stylesheet" href="../../css/Locacoes.css">


<section>
    <div class="head_section">
        <h1>Locações</h1>
        <a asp-controller="Dashboard" asp-action="Create" class="add_locacao">
            Nova Locação
            <iconify-icon icon="fluent:add-16-regular"></iconify-icon>
        </a>
    </div>
</section>