@{
    ViewData["Title"] = "Locacoes";
    Layout = "_LayoutAdmin";
}

<link rel="stylesheet" href="../../css/Locacoes.css">


<section>
    <div class="head_section">
        <h2>Locações</h2>
        <a asp-controller="Dashboard" asp-action="Create" class="add_locacao">
            Nova Locação
            <iconify-icon icon="fluent:add-16-regular"></iconify-icon>
        </a>
    </div>
    <div class="table_area">
        <table class="table_locacoes">
            <thead class="head_table">
                <th class="cell_head">
                    ID
                </th>
                <th class="cell_head">
                    NOME CLIENTE
                </th>
                <th class="cell_head">
                    NOME FILME
                </th>
                <th class="cell_head">
                    DATA LOCAÇÃO
                </th>
                <th class="cell_head">
                    DATA LIMITE
                </th>
                <th class="cell_head">
                    STATUS
                </th>
                <th class="cell_head">
                    TOTAL(R$)
                </th>
                <th class="cell_head">
                    AÇÕES
                </th>
            </thead>
            <tbody class="body_table">
                <tr class="row_table">
                    <td class="cell_table">
                        1
                    </td>
                    <td class="cell_table">
                        2
                    </td>
                    <td class="cell_table">
                        3
                    </td>
                    <td class="cell_table">
                        4
                    </td>
                    <td class="cell_table">
                        5
                    </td>
                    <td class="cell_table">
                        6
                    </td>
                    <td class="cell_table">
                        7
                    </td>
                    <td class="cell_table actions_cell">
                        <a class="view_action">
                            <iconify-icon icon="mdi:eye-outline"></iconify-icon>
                        </a>
                        <a class="edit_action">
                            <iconify-icon icon="mi:edit"></iconify-icon>
                        </a>
                        <a class="delete_action">
                            <iconify-icon icon="ant-design:delete-outlined"></iconify-icon>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>