@{
    ViewData["Title"] = "Página Inicial";
}

<link rel="stylesheet" href="../../css/HomePage.css">

<div class="background_img">
    
    <div class="container_main">
        <div class="container_left">
a        
</div>
        <div class="container_right">
            

        </div>
    </div>
</div>
