@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<style>
    :root {
        --primary_color: #2F80ED;
        --background: #131720;
        --text-color: white;
        --link-hover-color: #2569C7;
    }

    body {
        background: var(--background);
        color: var(--text-color);
        height: 100vh; /* Define a altura do corpo como 100% da altura da viewport */
        display: flex; /* Usa flexbox para centralizar verticalmente */
        align-items: center; /* Centraliza verticalmente */
    }

    .form-control {
        color: var(--text-color);
        background-color: transparent;
        border: 1px solid var(--primary_color);
    }

    .form-control:focus {
        color: var(--text-color);
        background-color: rgba(255, 255, 255, 0.1);
        border-color: var(--primary_color);
    }

    .btn-primary {
        background-color: var(--primary_color);
        border-color: var(--primary_color);
    }

    .btn-primary:hover {
        background-color: var(--link-hover-color);
        border-color: var(--link-hover-color);
    }

    a {
        color: var(--primary_color);
        text-decoration: none;
        transition: color 0.3s ease-in-out;
    }

    a:hover {
        color: var(--link-hover-color);
    }
</style>


<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h2>
<hr />

<p id="external-login-description" class="text-info">
    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
    Please enter an email address for this site below and click the Register button to finish
    logging in.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Please enter your email."/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
