@model FilmeModel
@{
    ViewData["Title"] = "Filmes";
    Layout = "_LayoutAdmin";
}

<link rel="stylesheet" href="../../css/Editar.css">

<html>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>Editar Filme</h2>
                </div>
            </div>


            <!-- form -->
            <div class="col-12">
                <form asp-controller="Filme" asp-action="Atualizar" method="Post">
                    <div class="row">

                        <div class="col-12 col-md-7 form__content">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form__group">
                                        <input type="text" asp-for="titulo" class="form__input" placeholder="Título">
                                    </div>
                                </div>

                                <!-- Outros campos do formulário aqui -->

                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                <div class="col-12" id="botoes">
                                    <button role="submit" class="form__bt" asp-controller="Filme" asp-action="Index">voltar</button>
                                    <button type="submit" class="form__btn">editar</button>
                                    <input type="hidden" asp-for="Id">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end form -->
        </div>

        <!-- Botões aqui devem estar dentro do bloco <form> -->
        <button type="submit" class="btn btn-primary">Alterar</button>
        <a role="submit" class="btn btn-secondary" asp-controller="Filme" asp-action="Index">Voltar</a>
        <input type="hidden" asp-for="Id">
    </div>
</body>
</html>
