@model FilmeModel
@{
    ViewData["Title"] = "Excluir Filme";
    Layout = "_LayoutAdmin";
}
<div class="text-center">
    <h1 class="display-4">Realmente deseja apagar o filme (@Model.titulo)?</h1>
    
    <form asp-action="Deletar">
        <button type="submit" class="btn btn-danger" asp-route-id="@Model.Id" asp-controller="Filme" asp-action="Deletar">Deletar</button>
        <a role="submit" class="btn btn-secondary" asp-controller="Filme" asp-action="Index">Voltar</a>
    </form>
</div>