@model FilmeModel
@{
    ViewData["Title"] = "Excluir Filme";
    Layout = "_LayoutAdmin";
}

<link rel="stylesheet" href="../../css/VerificarDeletar.css">

<div class="text-center">

    <form asp-action="Deletar">
        <div id="delete" class="zoom-anim-dialog delete">
            <h6 class="delete__title">Realmente deseja apagar o filme "@Model.titulo"?</h6>

            <div class="delete__btns">
                <button class="delete__btn delete__btn--apply" type="submit" asp-route-id="@Model.Id"
                    asp-controller="Filme" asp-action="Deletar">Deletar</button>
                <a role="submit" class="delete__btn delete__btn--dismiss" role="submit" class="btn btn-secondary"
                    asp-controller="Filme" asp-action="Index">Voltar</a>
            </div>
        </div>
    </form>

</div>