@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background: #131720;
    --cards: #151F30;
    --primary_color: #2F80ED;
    --success: #29B474;
    --error: #EB5757;
    --alert: #ffc312;
    --border: rgba(47, 128, 237, 0.1);
    --subtitle: #e0e0e0;
    --back_edit: rgba(47,128,237,0.1);
    --back_delete: rgba(235,87,87,0.1);
    --back_view: rgba(255,195,18,0.1);
}

.email_user{
    max-width:120px;
    overflow:hidden;
}


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body > *{
    animation: fadein 1s;
}

main {
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    overflow: hidden;
}

aside {
    display: flex;
    border-right: 1px solid var(--border);
    width: 280px;
    height: 100%;
    background-color: var(--background);
    color: white;
    flex-direction: column;
    transition: 0.1s ease;
}

header {
    background-color: var(--cards);
    width: 100vw;
    height: 10vh;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
}

.disabled {
    display: none;
}

.menu_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
    height: fit-content;
    width: fit-content;
    transition: all 0.5s ease-out;
    color: white
}

.menu_header>* {
    border-radius: 4px;
}

.menu_header> :nth-child(1) {
    width: 20px;
    height: 0.5px;
    background-color: white;
}

.menu_header> :nth-child(2) {
    width: 16px;
    height: 0.5px;
    background-color: white;
}

.menu_header> :nth-child(3) {
    width: 10px;
    height: 0.5px;
    background-color: white;
}

.close_icon {
    display: none;
    font-size: 24px;
}

.close_icon.active {
    display: flex;
}


.logo_aside {
    padding: 24px;
}

.info_admin {
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid var(--border);
    padding: 24px;
    gap: 12px;
}

.data_admin {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.data_admin>* {
    margin: 0;
}

.data_admin> :first-child {
    font-size: 12px;
    color: var(--subtitle);
}

.icon_profile {
    padding: 8px;
    background-color: white;
    color: var(--primary_color);
    font-size: 24px;
    border-radius: 12px;
    cursor: default;
}


.link_logout {
    text-decoration: none;
    margin-left: 12px;
    padding: 14px;
    background-color: var(--cards) !important;
    font-size: 18px;
    border-radius: 12px;
    color: var(--primary_color) !important;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease !important;
}

.link_logout:hover {
    background-color: white !important;
    color: black !important;
}

.link_logout>* {
    margin: 0;
}

.list_menu {
    padding: 0;
}

.item_menu {
    padding: 20px 24px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--subtitle);
    cursor: pointer;
    transition: 0.5s ease;
}

.item_menu:hover {
    color: var(--primary_color);
}

.item_menu>iconify-icon {
    font-size: 20px;
}

.select-item {
    color: var(--primary_color);
}


@media (max-width: 1024px) {
    aside {
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
    }

    header {
        display: flex;
    }

    main {
        flex-direction: column;
    }


    .active-in{
        animation: slidein 1s forwards;
    }
    .disable{
        animation: slideout 1s forwards;
    }

    @keyframes slidein {
        from {
          transform: translateX(-100%);
          opacity: 0;
        }
      
        to {
          transform: translateX(0);
          opacity: 1;
        }
      }
      
      @keyframes slideout {
        from {
          transform: translateX(0);
          opacity: 1;
        }
      
        to {
          transform: translateX(-100%);
          opacity: 0;
        }
      }

}