body{
    animation: fadein 1s;
}
body > *{
    animation: fadein 1s;
}

section{
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.head_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 24px;
    border-bottom: 1px solid var(--border);
}
.head_section > h1{
    color: white;
    font-weight: 400;
}

.add_locacao{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px 14px;
    background-color: var(--primary_color);
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
    border-radius: 12px;
    font-weight: 500;
}
.add_locacao > iconify-icon{
    font-size: 24px;
}
.add_locacao:hover{
    background-color: white;
    color: black;
}


.table_area{
    width: 100%;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table_locacoes{
    color: white;
    width: 100%;
}

.head_table{
    font-size: 14px;
    font-weight: 300;
    color: var(--subtitle);
}

.cell_head{
    font-weight: 300;
    padding: 8px 8px;
}

.table_locacoes tbody tr {
    border-bottom: 10px solid var(--background);
}

.row_table > :first-child{
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.row_table > :last-child{
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.cell_table{
    background-color: var(--cards);
    padding: 16px 8px;
}


.actions_cell{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}

.view_action{
    padding: 4px;
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 8px;
    color: var(--alert);
    background-color: var(--back_view);
    transition: 0.5s ease;
    cursor: pointer;
}
.view_action:hover{
    color: var(--alert);
    background-color: rgba(255,195,18,0.2);
}

.edit_action{
    padding: 4px;
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 8px;
    color: var(--primary_color);
    background-color: var(--back_edit);
    transition: 0.5s ease;
    cursor: pointer;
}
.edit_action:hover{
    color: var(--primary_color);
    background-color: rgba(47,128,237,0.2);
}

.delete_action{
    padding: 4px;
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 8px;
    color: var(--error);
    background-color: var(--back_delete);
    transition: 0.5s ease;
    cursor: pointer;
}
.delete_action:hover{
    color: var(--error);
    background-color:  rgba(235,87,87,0.2);
}